.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttonAvatarChange {
  margin: 0 30px;
  width: 150px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  :hover {
    background: rgb(251, 193, 245);
  }
}

.inputFieldCenter {
  text-align: center;

  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  :focus {
    border: 3px solid #5551ff;
  }
}

.flexboxLabel {
  font-size: 30px;
}
